.container{
    width: 14rem;
    box-sizing: initial;
}

button{
    width: 20%;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    color: white;
    background-color: rgb(6, 6, 80);
}

button:hover{
    background-color: rgb(14, 21, 81);
    color: rgb(255, 255, 255);
}

.sidebar{
    background: #ADC8FF;
    height: 100vh;
    width: 200px;
    z-index: 10;
    transition: all 0.5s;
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
    color: #000000;
}
.logo{
    font-size: 23px;
}
.bars{
    display: flex;
    font-size: 29px;
    margin-left: 50px;
}
.link{
    font-family: 'Poppins', sans-serif;
    display: flex;
    color: #443bc6;
    text-decoration: none;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
    margin-top: 1rem;
    font-weight: 500;
}
.link:hover{
    background:#141a2a;
    color: #ffffff;
    transition: all 0.5s;
}
.active{
    background: rgb(2, 108, 174);
    color: #ffffff;
}
.icon, .link_text{
    font-size: 20px;
}
/* .logo img{
    width: 10rem;
}

.active .logo img {
	width: 11rem;
	padding: 5px;
} */